################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UrlsAndRoutes/.vs/UrlsAndRoutes/v15/Server/sqlite3/db.lock
